<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Sentiment Analysis</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>😊 Sentiment Analysis</h1>

<p>

Predict whether a review is Positive or Negative

</p>

<form action="/predict" method="POST">

<textarea

name="review"

placeholder="Type your review here..."

required>

</textarea>
<p id="count">

0 Characters

</p>
<button type="submit">

Predict Sentiment

</button>

</form>

{% if prediction %}

<div class="result">

<h2>

{% if prediction=="positive" %}

🟢 Positive Review

{% else %}

🔴 Negative Review

{% endif %}

</h2>

<p>

Confidence :

<strong>

{{ confidence }}%

</strong>

</p>

</div>

{% endif %}

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>